@import './normalize';

$mobile-breakpoint: 768px;

body {
  #root {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $mobile-breakpoint) {
      flex-direction: row;
    }

    .column-wrap {
      padding: 10px 25px;

      @media screen and (min-width: $mobile-breakpoint) {
        width: 50%;
        padding: 25px;
      }

      table {
        text-align: left;

        th,
        td {
          padding: 2px 4px;

          &:first-child {
            padding-left: 0;
          }

          &::last-child {
            padding-right: 0;
          }
        }
      }

      .column-header {
        display: flex;
        justify-content: space-between;
      }

      .log-list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        list-style: none;
        padding: 20px;
        border: 1px solid #414042;
        height: 35vh;
        overflow: auto;

        @media screen and (min-width: $mobile-breakpoint) {
          height: 80vh;
        }

        > li {
          margin: 0 0 20px;

          &:last-child {
            margin-bottom: 0;
          }

          ul {
            list-style: none;
            padding: 0;
          }
        }
      }
    }
  }
}
